.services-container {
  margin: 20px 0;
}

.services-container .service-header h2 {
  text-align: center;
  font-weight: 500;
  font-size: 36px;
  /* line-height: 54px; */
  margin: 0 0 36px 0;
}

.services-container .service-cards {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
}

.services-container .service-cards .service-card {
  background-color: white;
  height: 100%;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
}

.services-container .service-cards .service-card .service-img {
  height: 300px;
}

.services-container .service-cards .service-card .service-img img {
  width: 100%;
  height: 90%;
  border-radius: 24px 24px 0 0;
}

.services-container .service-cards .service-card .service-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 300px;
  /* height: 300px; */
  padding: 40px 36px;
}
.services-container .service-cards .service-card .service-content h3 {
  font-weight: 500;
  font-size: 28px;
  /* line-height: 42px; */
  color: var(--neutrals-900);
}

.services-container .service-cards .service-card .service-content p {
  /* line-height: 24px; */
  font-size: 16px;
  font-weight: 400;
  color: var(--neutrals-800);
}

/* service problem */

.problem-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  /* flex-wrap: wrap; */
}

.problem-cards .problem-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.problem-cards .problem-card .problem-content {
  text-align: center;
  margin-top: 10px;
}

.problem-content h3 {
  font-weight: 500;
  font-size: 28px;
  /* line-height: 48px; */
  margin-bottom: 16px;
}

.problem-content p {
  font-weight: 400;
  font-size: 16px;
  /* line-height: 24px; */
  color: var(--neutrals-800);
}

@media screen and (max-width: 1200px) {
  .problem-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .services-container .service-header h2 {
    font-size: 24px;
    /* line-height: 36px; */
  }
  .services-container .service-cards {
    flex-direction: column;
  }

  .services-container .service-cards .service-card .service-content {
    min-height: 150px;
  }

  .services-container .service-cards .service-card .service-content h3 {
    font-size: 20px;
    /* line-height: 30px; */
  }

  .services-container .service-cards .service-card .service-content p {
    font-size: 14px;
    /* line-height: 21px; */
  }

  .problem-cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
