.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-page .main-page-container {
  padding: 16px;
  /* width: 80%; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 24px;
  position: relative;
}
.main-page .main-page-container .main-page-context {
  width: 80%;
  display: flex;
}

.main-page .main-page-container .main-page-context p {
  font-size: 64px;
  font-weight: 500;
  /* line-height: 96px; */
  color: var(--neutrals-900);
}

.main-page .main-page-container .main-page-context img {
  width: 300px;
  height: 400px;
}

.rounded {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -100px;
}
.rounded .circle {
  width: 100px;
  height: 100px;
  position: relative;
  bottom: 60px;
  animation: spin 8s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 800px) {
  .main-page .main-page-container {
    background-color: transparent;
  }
  .main-page .main-page-container .main-page-context {
    flex-direction: column;
    align-items: center;
  }

  .main-page .main-page-container .main-page-context p {
    font-size: 36px;
    text-align: center;
    /* line-height: 54px; */
  }

  .main-page .main-page-container .main-page-context img {
    width: 165px;
    height: 213px;
    margin: 48px 0;
  }

  .rounded .circle {
    width: 99px;
    height: 102px;
    bottom: 10px;
    display: inline-block;
  }
}
