.about-page {
}

.about-page .about-header {
  text-align: center;
}

.about-page .about-header h2 {
  font-weight: 500;
  font-size: 32px;
}

.about-page .about-content-container {
  display: flex;
  margin-top: 20px;
  align-items: center;
  /* justify-content: space-between; */
}

.about-page .about-content-container .about-img {
  width: 50%;
  /* width: 600px; */
  height: 450px;
}

.about-page .about-content-container .about-img img {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  object-fit: cover;
}

.about-page .about-content-container .about-content {
  width: 40%;
  margin-left: 20px;
}

.about-page .about-content-container .about-content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--neutrals-800);
}

@media screen and (max-width: 800px) {
  .about-page .about-content-container {
    flex-direction: column;
  }

  .about-page .about-content-container .about-img {
    width: 100%;
  }

  .about-page .about-content-container .about-content {
    margin: 0;
    width: 100%;
    margin-top: 10px;
  }
}
