.form {
  display: flex;
  border-bottom: 1px solid white;
  padding-bottom: 10px;
}

.form .form-left {
  display: flex;
}

.form .form-left .message {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-box input {
  width: 90%;
  padding: 16px 24px;
  background-color: rgba(255, 255, 255, 0.17);
  color: #ffffff;
  border-radius: 8px;
}
input::placeholder {
  color: white;
}
input:hover {
  outline: 1px solid white;
  opacity: 0.5;
}
textarea::placeholder {
  color: white;
}
textarea:hover {
  outline: 1px solid white;
  opacity: 0.5;
}
.checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  width: 90%;
}
input[type="radio"] {
  display: none;
}
.radio-item {
  width: 48%;
}
.radio-item label {
  display: flex;
  padding: 10px 60px;
  border: 2px solid white;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  min-width: 180px;
  white-space: nowrap;
  position: relative;
  color: white;
}
.radio-item label:after,
.radio-item label:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  color: white;
}

.radio-item label:after {
  height: 20px;
  width: 20px;
  border: 2px solid white;
  left: 20px;
  top: calc(50% - 12px);
}
.radio-item label:before {
  background: var(--secondary-500);
  height: 10px;
  width: 10px;
  left: 27px;
  top: calc(50% - 5px);
  transform: scale(5);
  transition: 0.3s ease-in-out 0s;
  opacity: 0;
  visibility: hidden;
}
.radio-item [type="radio"]:checked + label {
  border-color: var(--secondary-500);
  color: var(--secondary-500);
}
.radio-item [type="radio"]:checked + label:after {
  border: 2px solid var(--secondary-500);
}

.radio-item [type="radio"]:checked + label:before {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.message {
  display: flex;
  flex-direction: column;
}
.message textarea {
  background-color: rgba(255, 255, 255, 0.17);
  color: #ffffff;
  width: 320px;
  height: 115px;
  border-radius: 8px;
  padding: 16px 28px;
}
textarea::placeholder {
  color: white;
}
.message button {
  background-color: var(--secondary-500);
  padding: 16px 28px;
  border-radius: 8px;
  color: white;
  margin: 16px 0 25px 0;
  cursor: pointer;
}
.message button:hover {
  background-color: var(--secondary-600);
}
.message button:active {
  background-color: var(--secondary-700);
}

.form .form-right {
  margin-left: 16px;
  color: white;
}

.form .form-right h3 {
  font-size: 24px;
  font-weight: 500;
}

.form .form-right p {
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 1200px) {
  .form {
    flex-direction: column-reverse;
    /* align-items: center; */
  }
  .checkbox {
    flex-direction: column;
  }
  .radio-item {
    width: 100%;
  }
  .radio-item label {
    margin-top: 10px;
  }

  .form .form-left .message {
    width: 60%;
  }

  .message textarea {
    width: 100%;
  }

  .form .form-right {
    text-align: center;
    margin: 0;
    margin: 10px 0;
  }
}

@media screen and (max-width: 800px) {
  .form .form-left {
    flex-direction: column;
  }

  .input-box input {
    width: 100%;
  }
  .checkbox {
    margin: 20px 0;
  }

  .radio-item label {
    border: none;
    font-size: 12px;
    margin: 0;
  }

  .form .form-left .message {
    margin: 0;
    width: 100%;
  }
}
