.mobile-service .mobile-service-content {
  display: flex;
  align-items: center;
}

.mobile-service .mobile-content h3 {
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 16px;
}

.mobile-service .mobile-content p {
  font-weight: 400;
  font-size: 20px;
  color: var(--neutrals-800);
}

.mobile-service .mobile-service-content .mobile-img {
  width: 50%;
  height: 290px;
}

.mobile-service .mobile-service-content .mobile-img img {
  /* width: 100%; */
  height: 100%;
}

.mobile-service .mobile-service-video-content {
  width: 100%;
  margin: 20px 0;
}

.mobile-service .mobile-service-video-content video {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .mobile-service .mobile-service-content .mobile-img {
    width: 530px;
  }

  .mobile-service .mobile-content h3 {
    font-size: 28px;
  }

  .mobile-service .mobile-content p {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  .mobile-service .mobile-service-content {
    flex-direction: column-reverse;
  }

  .mobile-service .mobile-service-content .mobile-img {
    /* width: 340px; */
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
  }

  .mobile-service .mobile-content {
    text-align: center;
  }

  .mobile-service .mobile-content h3 {
    font-size: 24px;
  }

  
}
