@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;0,500;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-900: #0c588a;
  --primary-800: #1678ac;
  --primary-700: #1889c0;
  --primary-600: #219bd3;
  --primary-500: #27a9e1;
  --primary-400: #3db6e4;
  --primary-300: #5ac3e8;
  --primary-200: #85d4ee;
  --primary-100: #b4e5f5;
  --primary-50: #e1f5fb;
  --secondary-900: #006316;
  --secondary-800: #15822a;
  --secondary-700: #239435;
  --secondary-600: #2fa640;
  --secondary-500: #39b54a;
  --secondary-400: #5ac065;
  --secondary-300: #79cc81;
  --secondary-200: #a1daa5;
  --secondary-100: #c6e8c8;
  --secondary-50: #e7f6e9;
  --neutrals-900: #1e1e1e;
  --neutrals-800: #3f3f3f;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: #f2f2f2;
}

.container {
  padding: 20px 40px;
}


section{
      padding: 10rem 9% 2rem
}